$headers-text: #212121;
$main-text: #757575;
$accent-text: #20a0aa;
$main-background: #ffffff;
$white-header: #ffffff;
$background-accent: #2f303a;
$background-grey: #f5f4fa;
$grey: rgba(255, 255, 255, 0.6);
$border: #ececec;
